body{
    background-color: #C9C06D;
    
    margin: 0%;
}

.tie{
    
    padding-left: 0%;
    background: rgb(131, 185, 77);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search{
    border-radius: 15px;
    background: rgb(27, 101, 2);
    width: 80%;
    height: 45px;
}